.imagetresor{
    background-image: url("../img/image_tresor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.imagemonstre{
    background-image: url("../img/image_monstre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.imagemur{
    background-image: url("../img/image_du_mur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.imagejoueur{
    background-image: url("../img/image_personnage_principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



#contenant {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

#touslesboutons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
  
  #boutonsClavier {
    display: grid;
    grid-template-columns: repeat(3, 40px); 
    grid-template-rows: repeat(3, 40px); 
    gap: 5px; 
  }
  
  #boutonsClavier button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
  }

  #boutonReinitialiser:active {
    background-color: greenyellow;}
  
  #boutonsClavier button:hover {
    background-color: blueviolet ;
  }

  #boutonsClavier button:active {
    background-color:yellow;}

/* Styles spécifiques pour les appareils mobiles et tablettes */
@media (max-width: 640px) {
  #boutonsClavier {
    flex-direction: column;
    border: transparent;

  }

  #boutonsClavier button {
    width: 80px;
    height: 80px;
    font-size: 32px;
    border: transparent;
    background-color: transparent;
  
  }

  #boutonReinitialiser {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/* Style CSS pour rendre le tableau responsive */
table {
  width: 100%;
  border-collapse: collapse;
}

}
    